# === Archivos de configuración de Code::Blocks ===
*.layout
*.depend

# === Archivos temporales de CMake ===
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# === Binarios y Objetos (Compilación) ===
bin/
obj/
*.out

# === Otros (Windows y VS Code) ===
Thumbs.db
.vscode/